streamlit           # for building the web app
chromadb            # for ChromaDB integration
langchain-openai    # for LangChain OpenAI integration
langchain-core      # for LangChain
langchain-chroma  # for LangChain ChromaDB integration    
openai              # for OpenAI API
sqlalchemy          # for database interaction
python-dotenv       # for loading environment variables
feedparser          # for parsing RSS feeds
pandas              # for data manipulation
